.Die{
    font-size:5em;
    /* color: white; */
    padding: 0.5%;
    margin: 1rem;
}

.rolling{
    animation-name: rotation;
    animation-duration: 1s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}